@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.contenedor-general {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
}

.contenedor-recetas {
  background-color: hsl(0, 0%, 100%);
  width: 55%;
  margin: 120px;
  border-radius: 15px;
  padding: 35px;
}
.contenedor-recetas img {
  border-radius: 10px;
}
.contenedor-recetas h1 {
  color: hsl(24, 5%, 18%);
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 15px;
}
.contenedor-recetas p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 15px;
  padding-bottom: 25px;
  color: hsl(30, 10%, 34%);
}

.contenedor-tarjetaP {
  border-radius: 10px;
  background-color: hsl(330, 100%, 98%);
  padding: 30px;
}
.contenedor-tarjetaP h3 {
  color: hsl(332, 51%, 32%);
  font-family: "Outfit", sans-serif;
  padding-bottom: 10px;
}
.contenedor-tarjetaP ul {
  list-style-type: none;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.contenedor-tarjetaP li {
  margin-bottom: 10px;
  color: hsl(30, 10%, 34%);
}
.contenedor-tarjetaP li::before {
  content: "•";
  color: hsl(332, 51%, 32%);
  font-size: 20px;
  margin-right: 20px;
}
.contenedor-tarjetaP li strong {
  color: hsl(24, 5%, 18%);
}

.contenedor-Ingredientes h2 {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 20px;
  font-size: 25px;
  margin-bottom: 15px;
}
.contenedor-Ingredientes ul {
  list-style-type: none;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 25px;
}
.contenedor-Ingredientes li {
  margin-bottom: 10px;
  color: hsl(30, 10%, 34%);
}
.contenedor-Ingredientes li::before {
  content: "•";
  color: hsl(14, 45%, 36%);
  font-size: 20px;
  margin-right: 20px;
}

.contenedor-instrucciones h2 {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 20px;
  font-size: 25px;
  margin-bottom: 15px;
}
.contenedor-instrucciones ol {
  list-style-type: none;
  counter-reset: item;
  padding-left: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.contenedor-instrucciones li {
  margin-bottom: 10px;
  color: hsl(30, 10%, 34%);
}
.contenedor-instrucciones li::before {
  content: counter(item) ". "; /* Añade el número manualmente */
  counter-increment: item; /* Incrementa el contador de la lista */
  color: hsl(14, 45%, 36%);
  font-size: 17px;
  margin-right: 20px;
  font-weight: bold;
}
.contenedor-instrucciones li strong {
  color: hsl(24, 5%, 18%);
}

.contenedor-nutricion .contenedor-ncard {
  display: flex;
  justify-content: space-around;
}
.contenedor-nutricion .contenedor-ncard p {
  padding: 10px;
  margin-right: 30%;
  color: hsl(30, 10%, 34%);
}
.contenedor-nutricion .contenedor-ncard strong {
  color: hsl(14, 45%, 36%);
}

@media (max-width: 500px) {
  .contenedor-recetas {
    width: 100%;
    margin: 0%;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}